.burger-nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translateX(100vw);
  transition: transform 0.5s;
  z-index: 4;

  @media (min-width: 321px) {
    display: none;
  }

  &__toggler {
    display: none;
    position: fixed;
  
    left: 10px;
    top: 25px;
    z-index: 5;
  }
  
  &__label {
    display: none;
    position: fixed;
    left: 10px;
    top: 30px;
    
    width: 20px;
    height: 10px;
    
    background-image: url(../images/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  
    cursor: pointer;
    z-index: 5;
  
    @media (max-width: 320px) {
      display: block;
    }
  }
  
  &__logo {
    width: 42px;
    height: 52px;
    margin: 0 auto;
  }
  
  &__logo2 {
    width: 181px;
    height: 49px;
    margin-top: 8px;
    margin: 0 auto;
  }
  
  &__list {
    margin: 20px auto;
  }
  
  &__item {
    padding: 7px;
  }
  
  &__link:hover {
    font-weight: 500;
  }
}

.burger-nav__toggler:checked + .burger-nav__label {
  opacity: 1;
}

.burger-nav__toggler:checked ~ .burger-nav {
  transform: translateX(0);
}
