.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  align-items: center;

  @media (max-width: 320px) {
    width: 150px;
  }

  &__img {
    position: absolute;
    left: calc(50% - 70px);
    top: 10px;
    width: 140px;
    height: 164px;
  
    @media (max-width: 320px) {
      left: calc(50% - 35px);
      top: 5px;
      width: 70px;
      height: 82px;
    }
  }
  
  &__frame {
    width: 160px;
    height: 195px;
    background-color: rgb(238, 238, 238);
  
    @media (max-width: 320px) {
      width: 80px;
      height: 97.5px;
    }
  }
  
  &__name {
    font-size: 36px;
  
    @media (max-width: 320px) {
      font-size: 16px;
    }
  }
  
  &__bg-img-triangle1 {
    position: absolute;
    width: 178px;
    height: 163px;
    left: 35px;
    top: -50px;
    z-index: -2;
  }
  
  &__bg-img-triangle2 {
    position: absolute;
    width: 178px;
    height: 163px;
    right: 0;
    top: -40px;
    z-index: -1;
  
    @media (max-width: 320px) {
      width: 89px;
      height: 81px;
      top: -20px;
    }
  }
  
  &__bg-img-shape1 {
    position: absolute;
    width: 223px;
    height: 112px;
    left: 40px;
    top: 40px;
    z-index: -1;
  
    @media (max-width: 320px) {
      position: absolute;
      width: 111px;
      height: 56px;
      left: 20px;
      top: 20px;
    }
  }
  
  &__bg-img-shape2 {
    position: absolute;
    width: 223px;
    height: 112px;
    left: 40px;
    top: 40px;
    z-index: -1;
  
    @media (max-width: 320px) {
      position: absolute;
      width: 111px;
      height: 56px;
      left: 20px;
      top: 20px;
    }
  }
  
  &__bg-img-circle1 {
    position: absolute;
  
    width: 148px;
    height: 148px;
    border-radius: 50%;
    top: -20px;
    right: 20px;
    background-color: #f4bab5;
    z-index: -1;
  
    @media (max-width: 320px) {
      width: 74px;
      height: 74px;
      top: -10px;
      right: 10px;
    }
  }
  
  &__bg-img-circle2 {
    position: absolute;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    top: -20px;
    left: 20px;
    background-color: #c9cfda;
    z-index: -1;
  }
  
  &__bg-img-btn {
    position: absolute;
    top: -60px;
    left: 100px;
    width: 64px;
    height: 267px;
    background-color: #154938;
    border-radius: 32px;
    transform: rotate(49deg);
    z-index: -1;
  }
  
  &__bg-img-btn2 {
    position: absolute;
    top: -60px;
    left: 100px;
    width: 64px;
    height: 267px;
    background-color: #82a08b;
    border-radius: 32px;
    transform: rotate(49deg);
    z-index: -1;
  
    @media (max-width: 320px) {
      top: -30px;
      left: 50px;
      width: 32px;
      height: 133px;
      border-radius: 16px;
    }
  }
  
  &__bg-img-star {
    position: absolute;
    top: 60px;
    right: -10px;
    width: 171px;
    height: 171px;
    z-index: -1;
  
    @media (max-width: 320px) {
      top: 30px;
      right: -5px;
      width: 85px;
      height: 85px;
    }
  }
  
  &__bg-img-star2 {
    position: absolute;
    top: -60px;
    right: -10px;
    width: 171px;
    height: 171px;
    z-index: -1;
  
    @media (max-width: 320px) {
      top: -30px;
      right: -5px;
      width: 85px;
      height: 85px;
    }
  }
  
  &__bg-img-pentagon {
    position: absolute;
    top: -40px;
    right: 30px;
    width: 171px;
    height: 171px;
    z-index: -1;
  
    @media (max-width: 320px) {
      top: -20px;
      right: 15px;
      width: 85px;
      height: 85px;
    }
  }
  
  &__bg-img-pentagon2 {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 171px;
    height: 171px;
    z-index: -1;
  }
  
  &__second-img1 {
    position: absolute;
    left: 0;
    top: -40px;
    width: 87px;
    height: 96px;
  }
  
  &__second-img2 {
    position: absolute;
    right: 0;
    top: -70px;
    width: 106px;
    height: 112px;
  
    @media (max-width: 320px) {
      top: -35px;
      width: 53px;
      height: 56px;
    }
  }
  
  
  &__second-img3 {
    position: absolute;
    left: -30px;
    top: -20px;
    width: 139px;
    height: 178px;
  
    @media (max-width: 320px) {
      left: 0;
      top: -10px;
      width: 70px;
      height: 89px;
    }
  }
  
  &__second-img4 {
    position: absolute;
    left: 0;
    top: -50px;
    width: 66px;
    height: 148px;
  }
  
  &__second-img5 {
    position: absolute;
    right: -20px;
    top: -10px;
    width: 123px;
    height: 110px;
  
    @media (max-width: 320px) {
      right: -10px;
      top: -5px;
      width: 61px;
      height: 55px;
    }
  }
}
