@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "nav";
@import "news";
@import "stars";
@import "main-card";
@import "gallery";
@import "card";
@import "page";
@import "footer";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// input {
//   radio
// }
