.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;

  @media (max-width: 320px) {
    display: none;
  }

  &__list {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 auto;
    column-gap: 20px;
    margin-top: 20px;
  
    width: 909px;
  }
  
  &__item {
    line-height: 15px;
  }
  
  &__link {
    &:hover {
      font-weight: 500;
    }
  }
  
}
