.news {
  position: relative;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.news__title {
  font-size: 62px;
  margin: 30px auto 0;
  padding: 30px;
  text-align: center;
  width: 839px;
}

.news__text {
  font-size: 16px;
  text-align: center;
  width: 834px;
  height: 183px;
  margin: 0 auto;
  line-height: 27px;
}
